html
    include head.pug
    include header.pug
    body
        h2(class="d-block mx-auto my-3 text-center") Carga Productos - PUG
        include formulario.pug
        br
        div(class="d-block mx-auto text-center")
            a(class="btn btn-secondary my-2" href="/historial") Historial
        include footer.pug