<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <h2 class="d-block mx-auto my-3 text-center">Historial - EJS</h2>
        <%- include('../partials/dataTable'); %>

            <footer>
                <%- include('../partials/footer'); %>
            </footer>
</body>

</html>