<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <h2 class="d-block mx-auto my-3 text-center">Carga Productos - EJS</h2>
        <%- include('../partials/formulario'); %>
            <br>
            <div class="d-block mx-auto text-center">
                <a class="btn btn-secondary my-2" href="/historial">Historial</a>
            </div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>

</html>